# Python Stuff
*.py[co]
__pycache__
*.zip

# data
data/saved_sessions/*
data/saved_models/*
data/notMNIST_large/
data/notMNIST_small/
*.pickle
*.tar.gz


# notebooks
.ipynb_checkpoints/
*draft*.ipynb

# IDEA
.idea


